a:link {
   color: blue;
}

a:visited {
    color:purple;
}

body {
    color: navy;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    word-spacing: normal;
    letter-spacing: normal;
    background: aliceblue;
}

h1 {
    color: white;
    border: solid;
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(lime,#03A9F4);
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

p {
    line-height: 1.5;
    text-align: center;
}

p:first-letter {
    font-size: xxx-large;
    color: dodgerblue;
    font-style: italic;
    font-family: cursive;
}
